<ion-view view-title="New trip">
    <ion-header-bar align-title="center" class="bar-light bar bar-header">
        <div class="buttons">
            <button class="button" ng-click="goBack()">
                <</button>
        </div>
        <h1 class="title">New trip</h1>
    </ion-header-bar>
    <ion-content class="padding has-header">
        <small>Name</small>
        <label class="item item-input">
            <input type="text" placeholder="e.g. West Coast, Northeast, etc." ng-model="newTrip.name">
        </label>
        <small>From</small>
        <label class="item item-input">
            <span class="input-label">City</span>
            <input type="text" ng-model="newTrip.start.city">
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                &nbsp;
            </div>
            <select ng-model="newTrip.start.state">
                <option ng-repeat="state in states" value={{state.abbreviation}}>{{state.name}}</option>
            </select>
        </label>
        <small>To</small>
        <label class="item item-input">
            <span class="input-label">City</span>
            <input type="text" ng-model="newTrip.end.city">
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                &nbsp;
            </div>
            <select ng-model="newTrip.end.state">
                <option ng-repeat="state in states" value={{state.abbreviation}}>{{state.name}}</option>
            </select>
        </label>
        <small>Transportation</small>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Choose a car
                </div>
                <select ng-model="newTrip.car">
                    <option ng-repeat="car in cars" value={{car.id}}>
                        {{car.nickname}}
                    </option>
                </select>
            </label>
        </div>
        <a href="" ng-click="newCarForm()">Add a new car</a>
    </ion-content>
    <ion-footer-bar align-title="left" class="">

      <button class="button button-block button-positive" ng-click="startTrip(newTrip)">
        START TRIP
      </button>
    </ion-footer-bar>
</ion-view>
