<ion-view view-title="Rides">

<ion-header-bar align-title="center" class="bar-light bar bar-header" ng-click="newRide()">

  <h1 class="title">Rides</h1>

  <div class="buttons">
    <button class="button" ng-click="newCar()">+</button>
  </div>
</ion-header-bar>

    <ion-content class="padding has-header">

        <div ng-if="savedCars">
          <div class="card" ng-repeat="car in savedCars">
            <div class="item item-text-wrap">
              <a href="#/tab/cars/{{car.id}}">{{car.name}}</a>
            </div>
          </div>

        <div ng-if="!savedCars">
          <p>No saved rides.</p>
          <a href="">Add a ride</a>
        </div>

        </div>
    </ion-content>
</ion-view>
