<ion-view view-title="History">
    <ion-content class="padding">
        <div class="card">
          <div class="item item-text-wrap">
            Past trip. These cards are hard-coded
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            Past trip. These cards are hard-coded
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            Past trip. These cards are hard-coded
          </div>
        </div>
    </ion-content>
</ion-view>
