<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Places Tab (HOME) -->
  <ion-tab title="Explore"
    icon-off="ion-planet" icon-on="ion-planet"
    href="#/tab">
    <ion-nav-view name="tab-places"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Map"
    icon-off="ion-map" icon-on="ion-map"
    href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Guides Tab -->
  <ion-tab title="Guides"
    icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums-outline"
    href="#/tab/guides">
    <ion-nav-view name="tab-guides"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Profile"
    icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline"
    href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
